.groups{
    height: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5rem;
    cursor: pointer;
    /* background-color: aquamarine; */
}
.group-container{
    border-radius: 8px;
    width: 300px;
    border: 0px solid #ffffff;
    overflow: hidden;

}
.groups .img-div{
    width: 100%;
    overflow: hidden;
}
.groups .img-div img{
    position: relative;
    width: 100%;
    height: 100%;
}
.groups .text-div{
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
}
.groups .text-div .icon{
    position: relative;
    left: 65%;
    top: -33px;
    background-color: #5BA092;
    padding: 2px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ffffff;
    height: fit-content;
}
.groups .text-div .icon p{
    color: #ffffff;
    font-size: 1.2rem;
    position: initial;
}
.groups .text-div span{
    /* font-family: 'Rubik'; */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #5BA092;
    top: -20px;
    position: relative;
}
.groups .text-div h2{
    /* font-family: 'Rubik'; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #3C3A36;
    top: -10px;
    position: relative;
}
.groups .text-div p{
    /* font-family: 'Rubik'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #3C3A36;
    top: -10px;
    position: relative;

}