.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .nav-bar .content svg{
    display: none;
}
.home .sub-home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px 0 30px;
}