.home-container{

width: 100%;
font-family: inherit;
display: flex;
justify-content: flex-start;
  color: black;
  min-height: 100vh;
}
.cont{
    width: 20%;
}.home{

   margin-top: 2rem;




}

.sub-home{

}