.container{
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 100vh;



}


.pattern{
    display: grid;
    place-content: center;
    height: 70vh;




}
.img-slider{
   max-width: 500px;



}
img{
    max-width: 100%;
width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;

}
.slide{
    opacity: 0;
    transition: all .2s ease-in;


}
.current{
    opacity: 1;

    
}
.landing-paragraph{
    display: grid;
    place-content: center;
}
.landing-paragraph >h4{
color:#000;
text-align: center; 
    font-size: 2.5rem;
}
.btn{
    margin: 1rem 0;
    display: grid;
    place-items: center;
}
.landing-paragraph> p{
    padding: 1rem ;
    font-size: 1.5rem;
    color:#075e54;
    text-align: center;

}


span{
    color:#075e54;
}
.sm-circle{
    display: flex;
justify-content: center;
flex-direction: row;
margin: 1rem 0;
padding:0 .5rem;}
.sm-circle-dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border:  1px solid#075e54;
    background-color: ghostwhite;
    color: #000;
    margin: 1rem 1rem;
    cursor: pointer;
}

.sm-circle-dot-active{
    background-color: #128c7e;
    border: none;
    transform: scale(2);

}

.sm-circle-dot:hover{
    transition: ease-in 1s linear;

}
button{
    border-radius: 5px;
    border: 2px solid #075e54;
    cursor: pointer;
    outline: none;
    background-color: #075e54;
padding: 1rem 0;
display: flex;
justify-content: center;
    width: 125px;
    font-size: 1.3rem;
    color: #dcf8c6;

}
button:hover{
    color: #128c7e;
    background-color: #fff;
}
button:active{
    transform: scale(0.9);
    background-color: #128c7e;
    color: #fff;
    opacity: .8;
}
@media screen and (max-width:1280px) {

    .pattern{
        display: grid;
        place-content: center;
        height: 50vh;
    
    }
    img{
        max-width: 100%;
    width: 450px;
        height: 300px;
    
    }

}

@media screen and (max-width:768px) {

    .pattern{
        display: grid;
        place-content: center;
        height: 50vh;
    
    }
    img{
        max-width: 100%;
    width: 350px;
        height: 300px;
    
    }

}

@media screen and (max-width:380px) {

    .pattern{
        display: grid;
        place-content: center;
        height: 50vh;
    
    }

}
@media screen and (max-width:280px) {

    .pattern{
        display: grid;
        place-content: center;
        height: 40vh;
    
    
    
    
    }
    
    img{
        max-width: 100%;
        width: 200px;
        height: 150px;


        }    .landing-paragraph h4{
        font-size: 1.6rem;
    }
.landing-paragraph> p{
    font-size: 1rem;
}
}