.sidebar-container{
display: flex;

}
.sidebar{
    background-color: #075e54;
    color: #fff;
    height: 100vh;
    transition: all .5s;
    /* padding: 0 20px 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    position: sticky;
    top: 0px;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem 2rem 1.5rem;
    width: 180px;
}
.sidebar-logo{
    font-size: 2.5rem;
    color: #fff;
}
.top-section .menu{
    font-size: 2.5rem;  
      display: flex;
      margin-inline-start: 2px;

}
.icon-link{
    display: flex;
    padding: 1rem 0rem;
    gap: 1rem;
    transition: all.5s;
    justify-content: flex-start;
}
.icon-link a{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.nav-icon, .link-text{
    color: #fff;
    font-size: 1.3rem;
}
.icon-link:hover{
    background-color:#128c7e ;
transition: all.5s;
color: #fff;
}

.icon-link p{
    padding:0 1rem;

}
.icon-link .link-text:active{
    color: #075e54;

}
.logout-menu{
    display: flex;
    justify-content: center;
   font-size: 2rem;
   margin-top: 10rem;
   padding: 1rem;
}
.logout-menu p{
    font-size: 1.3rem;
    color: #fff;
    padding:0 1rem;
}