.sidebarContainer{
    position: relative;
}
.sidebarContainer .Mnav{
    display: none;
}
.sidebar{
    background-color: #075e54;
    height: 100vh;
    transition: all .5s;
    /* padding: 0 20px 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    position: sticky;
    top: 0px;
}
.topSection{
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    margin-bottom: 20px;
}
.sidebarLogo{
    font-size: 2.2rem;
    color: #fff;
}
.menu{
    font-size: 2rem;  
 padding: 1rem;
    color: #fff;


}
.icon{
    color: #fff;

}
.active-class{
    background-color: red;
}
.iconLink{
    display: grid;
     place-items: self-start;
    padding: 10px 5px;
    gap: .1rem;
    /* background-color: burlywood; */
    transition: all.5s;
}
.iconLink:hover{
    background-color: #33cab9;
}

.navIcon, .linkText{
    font-size: 1.5rem;
    color: #fff;

}
.iconLink a:hover{
transition: all.5s;
color: #fff;
}

.iconLink h4{
padding-left: .5rem;
font-size: 1.3rem;
font-weight: 200;
}
.iconLink a{
    display: flex;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 6px;
}

.logoutMenu{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
   font-size: 2rem;
   margin-top: .5rem;
   margin-top: 20px;
}
.logoutMenu p{
    color: #fff;
}
.logoutMenu a{
    display: flex;
    color: #075e54;
    padding: 1rem 1.5rem;
    border-radius: 6px;
}

.logoutMenu a:hover{
    transition: all.5s;
color: #fff;
background-color: #128c7e;
}



@media screen and (max-width: 1280px) {
    .sidebar{
        display: none;
    }
    .sidebarContainer{
        position: fixed;
        left: 0px;
        z-index: 3;
        background-color: #075e54;
     }
     .sidebarContainer .Mnav{
        display: block;
        padding: .5rem;
        color: #fff;
    }
    .sidebarContainer:hover .sidebar{
        display: flex;
    }
}