.nav-bar{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px #BEBAB3;
    padding: 5px 50px;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.nav-bar h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
    color: #333333;
}
.nav-bar header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(196, 192, 4); */
    height: fit-content;
    width: 40%;
    height: 100%;
    position: relative;
}
.nav-bar header .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 80px;
}
.nav-bar header .content span{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.5px;
    color: #3C3A36;
}
.nav-bar header .content h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
    color: #333333;
}
.nav-bar header img{
    position: relative;
    width: 50px;
    height: 50px;
}
.nav-bar .search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}
.nav-bar .search input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BEBAB3;
    border-radius: 8px;
    cursor: text;
    margin-right: 15px;
}
.nav-bar .search .dd{
    display: inline-block;
}
.nav-bar .search .dd svg{
    cursor: pointer;
}
.nav-bar .search .dd:hover > .ul{
    display: block;
}
.nav-bar .search .dd ul{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f3efef;
    list-style: none;
	box-shadow: rgba(0, 0, 0, 0.838) 0px 15px 12px -20px;
    /* padding: 20px 20px; */
}
.nav-bar .search .dd ul li{
    font-size: 1.5rem;
    text-align: center;
}
.nav-bar .search .dd ul li a{
    color: #000000;
    padding: 10px 60px;
}
.nav-bar .search .dd ul li:hover{
    background-color: #075e542a;
    cursor: pointer;
}