.notfound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.notfound h1{
    font-size: 10rem;
    color: #128c7e;
    text-align: center;
}
.notfound p{
    font-size: 2rem;
}
.notfound ul{
    display: flex;
    gap: 20px;
}
.notfound ul li{
    font-size: 1.5rem;
}
.notfound ul li a{
    color: #128c7e;
    text-decoration-line: underline;
}