.profile-layout {
	width: 100%;
	font-family: inherit;
	display: flex;
	justify-content: flex-start;
		color: black;
	


}

.profile-container {
	
	border-radius: 2px;
	height: 100%;
	position: relative;
	width: 100%;
	display: grid;
	place-items: center;
	/* border: 1px solid #111; */
}


.component{
	display: flex;
	flex-direction: column;
	margin: 2rem;
}
.component .profile{
display: flex;
 justify-content: center; 
align-items: center;
border-radius: 6px;
padding: 2px 0;
}

.component .profile p{
	color: #128c7e;
	font-size: 1rem;
font-family: inherit;
font-weight: 100;

}

.component .profile> span{
	padding: 0.5rem;
	font-size: .8rem;
	color: gray;
}
.component .profile h3{
	font-size: 1.6rem;
	margin-top: 1rem;
	font-weight: 500;
}
.component .profile .profile-pic{
    margin: .5rem 1rem;
    width: 100px;
    height: 100px;
	display: grid;
	place-content: center;
	background-color: #128c7e	;
	border-radius: 50%;
}

 .profile-component{
	width: 400px;
	display: grid;
	place-content: center;
	
	padding: 20px 0px;
	border-radius: 6px;
}

.profile-group{
	color: #075e54;
	margin: .5rem;
	padding: 0.5rem;
	display: grid;
	place-content: center;

	margin-top: 2rem;
}

.profile_component> form{
font-size: 1.1rem;
display: grid;
place-content: center;

}
.profile-input > input{
	border:1px solid #075e54;
	background-color: ghostwhite;
	cursor: pointer;
	width: 350px;
	padding: .5rem;
}
.profile-input >form > label {
	padding: 2rem 0;
	font-size: 1.4rem;
	margin: 2rem 0;
}
