.profile-layout {
	width: 100%;
	min-height: 100vh;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-container {
	display: flex;
   width: 500px;
   height: 80vh;
	flex-direction: column;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.arrow {
	padding: 1rem;
}
.profile{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;}

.profile > h6 {
	color: #075e54;
	font-size: 1.4rem;
    font-weight: 100;


}
.profile>p{
    font-size: 1rem;
}
.profile-pic{
    margin: .5rem 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
display: grid;
place-content: center;
    background-color: ghostwhite;
    border:1px solid #075e54;
}