.transactions{
    /* background-color: rgb(209, 219, 228); */
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: ghostwhite;
}
.transactions:hover{
    cursor: pointer;
    transition: all ease-in .2s;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
transform: scale(1.05);}
.transactions .img-div{
  
}
.transactions .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.transactions .content p{
    font-weight: 100;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    color: #000000;
}
.transactions .content span{
    font-weight: 300;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    margin-top: 4px;
    color: gray;

}
.transactions .amount p{
    color: #075e54;
}