.verify{
    width: 100%;
	min-height: 100vh;
	font-family: inherit;
display: grid;
place-items: center;
font-family: inherit;

}
.verify-container{
border-radius: 2px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
width: 400px;
height: 55vh;
display: grid;
place-content: center;
text-align: center;

}
.verification{

margin: 2rem 1rem;
}
 .verification input{
	width: 40px;
	height: 40px;
	margin: .5rem;
	border-bottom: 2px solid gainsboro;
	border-radius: 1px;
	text-align: center;

}
input:focus{
	border-bottom: 2px solid #075e54;

}

h6{
	font-size: 2rem;
	font-weight: 600;
	margin: .5rem 0;
}
p{
	font-weight: 100;
	font-size: 1.2rem;
	color: gray;
	margin: .5rem 0;
}
.verify-block{
	display: flex;
	justify-content: center;
align-items: center;
flex-direction: column;
}
span{
	color:#128c7e
}
.submit{
	display: grid;
	place-content: center;
}
.submit:active{
	transform: scale(1);
	}