.verify{
    width: 100%;
	min-height: 100vh;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	background-color: rgb(236, 236, 236);

}
.verify-container{
	border-radius: 2px;
	width: 400px;
	max-width: 90%;
	height: 35vh;
	display: grid;
	place-content: center;
	text-align: center;
	background-color: #fff;
	padding: 0 .25rem;
}
.verification{

margin: 1rem 1rem;
}
 .verification input{
	width: 40px;
	height: 40px;
	margin: .5rem;
	border-bottom: 2px solid gainsboro;
	border-radius: 1px;
	text-align: center;

}
input:focus{
	border-bottom: 2px solid #075e54;

}

h6{
	font-size: 2rem;
	font-weight: 600;
	margin: .5rem 0;
}
p{
	font-weight: 100;
	font-size: 1.2rem;
	color: gray;
	margin: .5rem 0;
}
.verify-block{
	display: flex;
	justify-content: center;
align-items: center;
flex-direction: column;
}
span{
	color:#128c7e
}
.submit{
	display: grid;
	place-content: center;
}
.submit:active{
	transform: scale(1);
	}
	@media screen and  (max-width: 1280px) {
		.verify-container {
		
			height:27.5vh;
			/* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
		}
	} 
	@media screen and (max-width: 768px ){
		.verify-container {
		
			height:25.5vh;
			/* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
		}
	}
	@media screen and (max-width: 500px) {
		.verify-container {
			height: 33.5vh;
			/* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
		}
	}
	@media screen and (max-width: 280px) {
		.verify-container {
			height: 37.5vh;
			/* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
		}
		.sign-app >h3 {
	font-size: 2.4rem;
		}
	   .active{
		font-size: 1rem;
	   }
	}