.dashboard{
    display: flex;
justify-content: flex-start;
    color: black;
    width: 100%;
}
.dashboard-container{
width: 100%;
background-color: #eeecec;
}
.dashboard-nav{
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    margin: 1rem 1rem;
}
.dashboard-icon{
    margin:0 1rem;
    opacity: .4;
}
.dashboard-nav p{
    border-radius: 50%;
    border: 1px solid #075e54;
    padding: .75rem;
    background-color: #075e54;
    color: #fff;

}


.greeting{
    margin: .5rem 2rem; 
}
.greeting > h6{
    color:#075e54;
    font-size: 2rem;
    font-weight: 100;


}
.greeting > p{
    font-size: 1.8rem;
    color:gray;
    opacity: .5;

}
.overview{
    width: 98%;
    display: flex;
    justify-content: space-around;
    /* background-color: #075e54; */
    padding: 20px 0;
    margin: 0 10px;
    position: relative;
    border-radius: 5px;
}
.dashboard-container h5{
    font-size: 2rem;
    color: gray;
    opacity: 1.8;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 20px;
}
#chart{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px -12px;
    height: 250px;
    width: 45%;
    border-radius: 4px;
    font-size: 10px;
    /* overflow-y: hidden; */
}
#chart2{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px -12px;
    height: 250px;
    width: 45%;
    border-radius: 4px;
    font-size: 10px;
}
.apexcharts-text tspan{
    font-size: 15px;
}
svg text{
    font-size: 1.5rem;
}