.dashboard{
    display: flex;
justify-content: flex-start;
    color: black;
    width: 100%;
}
.dashboard-container{
width: 100%;
background-color: #eeecec;
}
.dashboard-nav{
    display: flex;justify-content: flex-end;
    font-size: 1.8rem;
    margin: 1rem 2rem;
}
.dashboard-icon{
    margin:0 1rem;
    opacity: .4;
}


.greeting{
    margin: .5rem 4rem; 
}
.greeting > h6{
    color:#075e54;
    font-size: 2rem;
    font-weight: 100;


}
.greeting > p{
    font-size: 1.8rem;
    color:gray;
    opacity: .5;

}
.overview{
    width: 98%;
    display: flex;
    justify-content: space-around;
    /* background-color: #075e54; */
    padding: 20px 0;
    margin: 0 10px;
    position: relative;
    border-radius: 5px;
}
.dashboard-container h5{
    font-size: 2rem;
    color: gray;
    opacity: 1.8;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 20px;
}
#chart{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px -12px;
    height: 240px;
    width: 45%;
    border-radius: 4px;
    font-size: 10px;
    overflow: hidden;
    padding-top: 10px;
}
#chart2{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px -12px;
    height: 255px;
    width: 45%;
    border-radius: 4px;
    font-size: 10px;
    overflow: hidden;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
/* .apexcharts-text tspan{
    font-size: 15px;
}
svg text{
    font-size: 1.5rem;
} */
#chart2 h4{
    text-anchor: start;
    dominant-baseline: auto;
    font-size: 14px;
    font-weight: 900;
    color: #373d3f;
}
#chart2 p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
#chart2 .link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#chart2 .link input{
    width: 100%;
    height: 50px;
    background-color: #eeecec;
    border: none;
    padding-left: 20px;
    color: #999898;
}
#chart2 .link button{
    height: 50px;
    width: 60px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#chart2 .but{
    display: flex;
    gap: 10px;
}
#chart2 .but .student{
    display: flex;
    background-color: #9df1ce;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px 25px;
    gap: 5px;
    cursor: pointer;
}
#chart2 .but .student p{
    font-size: 15px;
    color: #373d3fcc;
    font-weight: 700;
}