.modal{
  width: 100%;
	min-height: 100vh;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-container {
  padding: 1rem;
  width: 90%;
	height: auto;
	border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/* .modal-container .head{
  display: flex;
  align-items: flex-end;
} */
.head{
  display: flex;
  justify-content: center;
}
.modal-overlay{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  width: 80%;
}
.background-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.background-image img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.modal-heading{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
}
.modal-heading h5{
  font-weight: 700;
  font-size: 3rem;
  display: flex;
  justify-self: flex-start;
}
.modal-heading .details{
  display: flex;
  align-items: center;
  gap: 20px;
}
.modal-heading .details p{
  font-size: 15px;
}
.modal-heading .details p span{
  color: #075e54;
}
.modal-heading .modal-body{
  margin-top: 25px;
}
.modal-heading .modal-body h6{
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}
.modal-heading .modal-body p{
  font-size: 15px;
  color: gray;
  line-height: 20px;
}
.accordion {
  width: 80%;
  margin-top: 1rem;
  height: auto;
  padding: 1rem;
}
.accordion .title{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.accordion .accordion-item{

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: blue; */
}
.accordion .accordion-item .accordion-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #b2d3cd;
  cursor: pointer;
  flex-direction: row;
  position: relative;
}
.accordion .accordion-item .accordion-title h4{
  font-size: 1.7rem;
  color: rgb(54, 54, 54);
}
.accordion .accordion-item .accordion-content{
  width: 100%;
  font-size: 13px;

  padding: 1rem 1.5rem;
  transition: all .2s ease-in;
  /* background-color: blue; */
}
.details{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-btn{
  /* background-color: blueviolet; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.modal-btn button{
  border-radius:5px ;
}





































.rating{
  display: flex;

}
.modal-icon{
  font-size: 1.5rem;
  color: #075e54;
}
#chat{
  display: flex;

}
.rating h6{
  font-size: 2.5rem;
  padding:0 1rem;
  color: #000;
  font-weight: 100;
}
.rating p{
  padding:0 1rem;
  font-size: 2rem;
  color: #075e54;


}
.rating span{
  font-size: 1rem;
}


.chat-para{
  font-size: 1rem;
  color: gray;

}
.accordion-icon{
  display: flex;
  justify-content: flex-end;
  margin:0 1rem;
}

.isActive{
  transition: all .2s ease-in;

}
